@media only screen and (max-width: 780px) {
    .first, .second {
        .item {
            img {
                width: 90vw;
                &:hover {
                    transform: scale(1.05);
                }
            }            
        }
    }
    .top {
        flex-direction: column-reverse;
        .top-item {
            img {
                width: 90vw;
            }
        }
    }
}