.preloader {
    position: fixed;
    @include flexRow("normal");
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #141414;
    animation: preloadHide 1s 2.5s 1 normal linear forwards;

    img {
        align-self: center;
        animation: loadIcon 1s infinite alternate;
    }
}

@keyframes loadIcon {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes preloadHide {
    from {
        opacity: 1;
        height: 100vh;
    }
    95% {
        opacity: 0;
        height: 100vh;
    }
    to {
        opacity: 0;
        display: none;
        height: 0;
    }
}