@import "./helper.scss";
@import "./preloader.scss";

$black: #141414;

html, body {
    margin: 0;
}

body {
    background-color: $black;
    color:white;
    font-family: "Jost";
    font-weight: 400;
}
header {
    margin-bottom: 35px;
    @include flexRow("normal");
    .header-logo {
        @include flexRow("normal");
        flex: 1;
        .platform-title {
            font-size: 2rem;
            margin-left: 20px;;
            align-self: center;
        }
    }
    .header-buttons {
        @include flexRow("normal");
        align-self: center;
        div {
            cursor: pointer;
            margin: 5px 10px;
            padding: 10px 15px;
            border-radius: 5px;

            &:last-child {
                margin-right: 25px;
            }

            &:hover {
                background-color: white;
                color: $black;
            }
        }
    }
}
#top-text::before {
    content: "5";
    font-weight: 700
}
.section-title {
    margin-left: 10px;
}
.top {
    @include flexRow("reverse");

    .top-item {
        img {
            cursor: pointer;
            width: 20vw;
            min-width: 225px;
            transition: transform .4s ease-in-out;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.first, .second {
    @include flexRow("reverse");
    justify-content: center;
    .item {
        img {
            border: solid 2px transparent;
            border-radius: 5px;
            box-sizing: border-box;
            cursor: pointer;
            transition: transform .4s ease-in-out;
            width: 16vw;
            &:hover {
                border-color: white;
                transform: scale(1.2);
            }
        }
    }
}
/* Estos import estan abajo por el tema de la cascada en CSS
   asi no hay que poner !important en las medias queries */
@import "./tablet.scss";
@import "./mobile.scss";