@media only screen and (max-width: 1280px) {
    header {
        .platform-title {
            display: none;
        }
    }
    .section-title {
        margin-left: 50px;
    }
    #top-text::before {
        content: "3";
    }
    .first, .second {
        flex-wrap: wrap;
        .item {
            img {
                width: 30vw;
            }            
        }
    }
    .top {
        flex-wrap: wrap;
        justify-content: flex-end;
        .top-item {
            img {
                width: 32vw;
            }
            &:nth-child(-n+2) {
                display: none;
            }
        }
    }
}